/* Media Quereies for iPhone X*/
@media only screen and (max-width: 812px) {
    *{
        width: 160%;
        font-size: 125%;
    }
    
    h1{
        margin-left: 600px;
        font-size: 295%;
    }
    
    /*HEADER SECTION*/
    
    header{
        background-size: contain;
        background-position: right;
        height: 250vh;
    }
   
    .headshot {
        margin-left: 21%;
    }
    
    .headshot img{
        width: 20%;
        height: auto;
    }
    
    #header-slogan{
        font-size: 265%;
        margin-left: 18px;
    }
    
    #header-name{
        margin-left: 300px;
        font-size: 390%;
    }
    
    /*WHO I DO SECTION*/
    
    .section-who{
        background-size:contain;
        background-attachment: scroll;
        height: 520vh;
    }
    
    .who-box{
        width: 100%;
        margin-left: 0;
    }
    
    .who-box p{
        width: 90%;
        margin-left: 65px;
        font-size: 150%;
    }
    
    .image-who{
        text-align: left;
        margin-left: 120px;
    }
    
    .image-who img{
        width: 450px;
    }
    
    .image-who a img:hover,
    .image-who a img:active{
        width: 520px;
    }
}